#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: gray;
    font-style: italic;
    background: aqua;
}

.absent {
    color: white;
    font-weight: bold;
    background: rebeccapurple;
}
[v-cloak]{
    display: none;
}


